body{
    background-color: antiquewhite;
}
h1{
    text-align: center;

}
.container{
    display: flex;
    justify-content: center;
    padding: auto;
}
.list{
    width: 30%;
    background-color: aliceblue;
    padding: auto;
    border-radius: 15px;
    margin: 20px;
}
p{
    margin: auto;
    padding: auto;
}